body {
    background-color: lightsteelblue;
}
#centerdiv {
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 5px;
    min-height: 100%;
}
#tekstdiv {
    width: calc(100% - 50px);
    margin: auto;
}
#buttonrow {
    
}
#buttonrow button{
    background-color:aliceblue;
    height: 50px;
    border-radius: 5px;
    border: solid 1px;
}
.normaltekst {
    font-size: 30px;
}
.projektknap {
    width: 45%;
    height:auto;
    border-radius: 7px;
    background-color: lightsteelblue;
    border-style: none;
    padding: 5px;
    box-shadow: 5px 5px 5px;
    transition: 0.3s;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
.projektknap:hover {
    background-color: steelblue;
    box-shadow: 8px 8px 5px;
    transform: translate(-3px,-3px);
}
.projektknap:active {
    background-color: lightsteelblue;
    box-shadow: 1px 1px 5px;
    transform: translate(7px,7px);
}

.eksempeldiv {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 25%;
    background-color: steelblue;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    padding: 7px;
    font-size: 20px;
}
code {
    color: floralwhite;
}
